.App .project-description {
  a {
    color: var(--bright-secondary-color);
    text-decoration: underline;
  }

  a:hover,
  a:visited {
    text-decoration: none;
    color: var(--bright-secondary-color);
  }

  @media screen and (min-width: 768px) {
    width: 80%;
  }
}

.img-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .screenshot {
    margin: 2rem auto;
  }

  .mobile {
    width: 60%;

    @media screen and (min-width: 1024px) {
      width: 20%;
    }
  }

  .desktop {
    width: 85%;

    @media screen and (min-width: 1024px) {
      width: 40%;
      display: initial;
    }
  }
}
