.p-about {
  padding-top: 3rem;
  letter-spacing: 0.04rem;
  line-height: 2.5rem;

  @media screen and (min-width: 1024px) {
    line-height: 2rem;
  }
}

.tech-section,
.tool-section {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  li {
    margin: 0.3rem;
    padding: 0.3rem;
    width: 5em;
    list-style: none;
    border-radius: 0.25rem;
    color: var(--dark-primary-color);
  }

  .tech-label {
    background-color: var(--bright-secondary-color);
  }

  .project {
    width: 11em;
    text-align: center;
    margin-left: 0;
    margin-right: 0.6rem;
  }

  .tool-label {
    background-color: var(--light-secondary-color);
  }
}

.p-about,
h3,
.tech-section,
.tool-section {
  @media screen and (min-width: 1024px) {
    max-width: 60%;
    margin-left: 20%;
  }
}

.project {
  padding: 0;
}
