.contact-page {
  .contact-link {
    color: var(--bright-secondary-color);
    text-decoration: underline;
  }

  .contact-link:visited,
  .contact-link:hover {
    text-decoration: none;
    color: var(--bright-secondary-color);
  }
}
