:root {
  --dark-primary-color: #01403a;
  --light-primary-color: #7fc2b1;
  --light-primary-color-transp: linear-gradient(
    135deg,
    rgba(127, 194, 177, 0.1) 0%,
    rgba(127, 194, 177, 0.5) 18%,
    rgba(127, 194, 177, 0.1) 100%
  );
  --light-secondary-color: #f2d0c4;
  --bright-secondary-color: #d1477d;
  --dark-details-color: #1e1e1e;
  --big-title-font: "Phitagate";
  --title-font: "Magic Bright Bold";
  --regular-font: "Magic Bright Regular";
  background-color: var(--dark-primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: var(--regular-font);
  font-size: calc(12px + 2vmin);
  font-weight: 600;

  @media screen and (min-width: 1024px) {
    font-size: calc(16px + 2vmin);
  }

  .background {
    position: fixed;
    z-index: -1;
  }

  .leaf-10 {
    height: 400px;
    bottom: -70px;
    right: -90px;
    transform: rotate(5deg);
  }

  .leaf-16 {
    height: 320px;
    top: -60px;
    left: -130px;
    transform: rotate(25deg);
  }

  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  .App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--title-font);

    .navbar {
      padding: 1rem;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      font-size: calc(8px + 2vmin);
      color: var(--light-primary-color);

      @media screen and (min-width: 1024px) {
        width: 60%;
      }

      a,
      a:visited {
        color: var(--light-primary-color);
        padding: 0.5rem;
        border-radius: 0.25rem;
        letter-spacing: 0.02rem;
      }

      #first {
        padding-left: 0;
      }

      #last {
        padding-right: 0;
      }

      #first,
      #last {
        @media screen and (min-width: 1024px) {
          padding: 0.5rem;
        }
      }

      a:hover,
      a:active {
        color: var(--dark-primary-color);
        background-color: var(--light-primary-color);
      }
    }

    .App-name {
      padding-top: 0.75rem;
      padding-bottom: 3rem;
      color: var(--light-secondary-color);
      font-size: calc(16px + 2vmin);
    }
  }

  h2 {
    padding: 0.5rem 1rem;
    color: var(--bright-secondary-color);
    background-color: var(--light-secondary-color);
    font-family: var(--big-title-font);
    font-size: calc(24px + 3vmin);
    font-weight: 600;
  }

  h3 {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: var(--light-primary-color);
    font-family: var(--big-title-font);
    font-size: calc(24px + 2vmin);
    text-align: left;
    font-weight: 600;
  }

  p {
    padding: 1rem;
    color: var(--light-secondary-color);
    text-align: left;
    line-height: 2rem;
    letter-spacing: 0.04rem;

    @media screen and (min-width: 1024px) {
      line-height: 2.5rem;
      width: 60%;
      margin: 0 auto;
    }
  }

  .p-home {
    padding-top: 3rem;
    line-height: 2.5rem;

    span {
      margin: 0 1rem;
      color: var(--bright-secondary-color);
    }
  }
}
